certifi==2023.5.7
charset-normalizer==3.1.0
exceptiongroup==1.1.1
flake8==6.0.0
idna==3.4
iniconfig==2.0.0
mccabe==0.7.0
packaging==23.1
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.3.1
requests==2.31.0
tomli==2.0.1
urllib3==2.0.3
